<h2><%= @user.username%></h2>
<p><%=@user.email%></p>
<%= link_to "See all users", users_path%>
<table>
    <%- @user.comments.each do |comment| %>
        <tr>
            <td><%= link_to comment.post.title, post_path(comment.post) %></td>
            <td><%= com.content%></td>
        </tr>
    <% end %>
</table>
